.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-button-next {
  color: gray !important;
  /* right: 10px !important; */
}

.swiper-button-prev {
  color: gray !important;
}
